ul {
  padding-left: 15px;
  box-sizing: border-box;
}

body {
  padding: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
}
